/* Luke Dickerson Module 6 June 26, 2026 */

body {
    background-color: rgb(242, 243, 243);
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    color: rgb(32, 117, 243);
    text-align: center;
    margin-top: 50px;
}
h2 {
    color: rgb(229, 184, 11);
    text-align: center;
    margin-top: 30px;
}
p {
    color: rgb(0, 0, 0);
    text-align: justify;
    margin: 20px;
    line-height: 1.6;
    font-size: 15px;
}
a {
    color: #0000EE;
    text-decoration: none;
}