/* Luke Dickerson Module 8 July 10, 2026 */

body {
    background: linear-gradient(to bottom, rgb(242, 243, 243), rgb(181, 181, 181));
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0 auto;
    padding: 20px;
    border: 20px solid rgb(32, 117, 243);
    width: 80%;
}
h1 {
    color: rgb(32, 117, 243);
    text-align: center;
    margin-top: 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}
h2 {
    color: rgb(229, 184, 11);
    text-align: center;
    margin-top: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}
p {
    color: rgb(0, 0, 0);
    text-align: justify;
    margin: 0px;
    line-height: 1.6;
    font-size: 15px;
}
a {
    color: #0000EE;
    text-decoration: none;
}
nav {
    text-align: center;
    margin-top: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}